/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

*,
*:before,
*:after {
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

body {
line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
display:block;
}

nav ul {
list-style:none;
}

p {
  overflow-wrap:break-word;
  word-wrap:break-word;
}

blockquote, q {
quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}

a {
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

table {
border-collapse:collapse;
border-spacing:0;
}

hr {
display:block;
height:1px;
border:0;
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}

input, select {
vertical-align:middle;
}

/*------------------------
* Basement
------------------------*/
html {
  overflow: hidden; /*for main__bnr */
  background:  url(img/bg-pv.gif) no-repeat center center fixed;
  background-size: cover;
  font-size: 62.5%;
  font-family:sans-serif;
}

body {
  height: 100%;
}

body::after{
  content: ' ';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(237, 63, 83, 0.8);
  z-index: -100;
}

img {
   width: 100%;
}

.wbfont {
  font-family: 'Ubuntu Mono', monospace, sans-serif;
  letter-spacing: .02em;
}




/*------------------------
* Main-area
------------------------*/
.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 340px;
}

.main__logo {
  margin-bottom: 72px;
  text-align: center;
}

.main__logo img {
    /*width: 748px;
    height: 201px;*/
}

/*coming soon用*/
.coming-text {
  padding: 10%;
  line-height: 180%;
  color: #FFF;
  font-size: 1.6rem;
  text-align: center;
}

.coming-text a{
  color:crimson;
  text-decoration: none;
  background-color: yellow;
}

/*------------------------
* Contact effect
------------------------*/
.gnav__list {
  text-align: center;
}

.gnav__list a {
  position: relative;
  cursor: pointer;
  padding: 10px;
  font-size: 3.8rem;
  text-decoration: none;
  color: #FFF;
}

.gnav__list a:hover{
  color: crimson;
}

.gnav__list a::after {
  content: ' ';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -5;
  left:50%;
  bottom:0;
  -webkit-transform: translateX(-50%) skew(-89deg) scaleX(1.5);
  transform: translateX(-50%) skew(-89deg) scaleX(1.5);
  opacity: 0;
  background: #FFF45C;
  -webkit-transition: all 0.3s cubic-bezier(0.42, 0.08, 0, 1.8);
  transition: all 0.3s cubic-bezier(0.42, 0.08, 0, 1.8);
}

.gnav__list a:hover::after {
  width: 130%;
  height: 100%;
 -webkit-transform: translateX(-50%) skew(-20deg) scaleX(1);
 transform: translateX(-50%) skew(-20deg) scaleX(1);
 opacity: 1;
}

.gnav__list__item {
  margin-bottom: 25px;
}


/*------------------------
* Footer-area
------------------------*/
.footer {
  position: absolute;
  left:20px;
  bottom:20px;
  color: #FFF;
}

.footer__hushcopy {
  display: inline-block;
  font-size: 1.6rem;
  margin-right: 20px;
}

.footer__snsnav {
  display: inline-block;
  line-height: 30px;
}

.footer__snsnav__list {

}

.footer__snsnav__list__item  {
  display: inline-block;
  font-size: 3.0rem;
  margin-right: 10px;
}

.footer__snsnav__list__item a {
  display: block;
  color: #FFF;
  opacity: 0.65;
}

.footer__snsnav__list__item a:hover {
  opacity: 1.0;
  text-shadow:
  -1px -1px 1px rgba(0, 0, 0, 0.4),
  1px 1px 1px rgba(255, 255, 255, 0.5);
}























/*----------------------------
* viewport > 992px
----------------------------*/

@media screen and (max-width:991px){

  /*---------------
  * Main-area
  -----------------*/
  .main__logo {
      max-width: 90%;
      margin: 0 auto;
      margin-bottom: 42px;
  }

}










/*----------------------------
* viewport > 768px
----------------------------*/
@media screen and (max-width:768px){

  /*---------------
  * Main-area
  -----------------*/
  .content {
    max-height: 60%;
  }

  .main__logo {
    margin-bottom: 2.0vh;
  }

  /*---------------
  * Contact effect
  ----------------*/
  .gnav__list {
    text-align: center;
  }

  .gnav__list a {
    padding: 2.0% 1.0%;
    font-size: 8.0vmin;
  }

  .gnav__list__item {
    margin-bottom: 4.2vh;
  }

  /*----------------
  * Footer-area
  -----------------*/
  .footer {
    position: absolute;
    left:0;
    right: 0;
    bottom: 2%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  .footer__hushcopy{
    display: none;
  }

  .footer__snsnav {
    display: block;
  }

  .footer__snsnav__list__item  {
    margin: 0;
    padding: 1% 5%;
    font-size: 3.0rem;
  }

}
