/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
*,
*:before,
*:after {
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

body {
line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
display:block;
}

nav ul {
list-style:none;
}

blockquote, q {
quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}

p {
  overflow-wrap:break-word;
  word-wrap:break-word;
}

a {
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}

table {
border-collapse:collapse;
border-spacing:0;
}

hr {
display:block;
height:1px;
border:0;
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}

input, select {
vertical-align:middle;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

/*------------------------
* Basement
------------------------*/
html {
  background-color: #FFF;
  font-size: 62.5%;
  font-family:sans-serif;
}

.wbfont {
  font-family: 'Ubuntu Mono', monospace, sans-serif;
  letter-spacing: .02em;
}

.blog__header {
   width: 945px;
   margin: 30px auto 0px;
   padding: 0;
   line-height: 40px;
}

.blog__wrapper {
  width: 780px;
  margin: 35px auto 0px;
  padding: 0;
}

.mr35{
  margin-right: 35px;
}

.mr25{
  margin-right: 25px;
}

.blog__btn a{
  display: block;
  background-color: #ed3f53;
  color:#FFF;
  text-align: center;
}



/*------------------------
* Header
------------------------*/
.blog__header a {
  transition-duration: .2s;
  opacity: 1;
}

.blog__gnav__list__item {
    opacity: 1;
}

.blog__gnav:hover .blog__gnav__list__item:not(:hover) {
  opacity: 0.5;
}


.blog__main__logo {
  display: inline-block;
  margin-right: 45px;
  vertical-align: bottom;
}

.blog__gnav {
  display: inline-block;
}

.blog__gnav__list {
  list-style-type: none;
}

.blog__gnav__list__item {
  display: inline-block;
}

.blog__gnav__list__item a {
  font-size: 1.8rem;
  color: #ed3f53;
  text-decoration: none;
}


/*------------------------
* Article
------------------------*/

.blog__newsheader {
  margin-bottom: 50px;
}

.blog__site-title {
  width: 80%;
  float: left;
  margin-top: 1.0rem;
  font-size: 4.8rem;
  color: #ed3f53;
}

.blog__profileicon {
  width: 20%;
  float: right;
  text-align: right;
}

.blog__profileicon a {
  display: inline-block;
  position: relative;
  width: 69px;
  height: 69px;
  text-align: center;
  vertical-align: middle;
}

.blog__profileicon a::before{
  position: absolute;
  content: ' ';
  width: 68px;
  height: 68px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  border: 3px dotted #FFF;
  background-image: linear-gradient(white, white), linear-gradient(#fe2fb7, #bf19fd);
  background-origin: border-box;
  background-clip: content-box, border-box;
  transition-timing-function:linear;
}

.blog__profileicon a:hover::before {
  transform: rotateZ( -60deg );
}

.blog__profileicon img{
  position: absolute;
  width: 55px;
  height: 55px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
}


.blog__article {
  color: #4e4d63;
}


.blog__visual {
  text-align:center;
}

.blog__visual img {
  width:auto;
  height:auto;
  max-width: 100%;
  max-height: 100%;
}

.blog__entry-title {
  margin-top: 35px;
  font-size: 2.4rem;
  color: #ed3f53;
}

.blog__entry-meta {
  margin-top: 25px;
}

.blog__entry-meta__item {
  display: inline-block;
  margin-right: 20px;
}

.meta-dates {
  color: #3fedd9;
  font-size: 1.4rem;
}

.meta-tags a {
  margin-left: 6px;
  font-size: 1.2rem;
  color: #4e4d63;
  text-decoration: none;
  border-bottom:  1px dotted #AAA;
}


.blog__entry-content {
  margin-top: 30px;
  font-size:  1.4rem;
  letter-spacing: .02em;
  line-height: 2;
}

.blog__entry-content p {
  padding: 10px 0;
}

.blog__btn-more {
  width: 196px;
  height: 45px;
  line-height: 45px;
  margin-top:20px;
}

.blog__btn-more a{
  font-size: 1.6rem;
  color:#FFF;
  text-decoration: none;
}

.blog__hr {
  margin: 30px 0;
  border-top: 1px solid #EEE;
}



/*
* Contact
*/

.wpcf7 dl {
  padding: 10px 0;
}

.wpcf7 dt {
  position: relative;
  display: inline-block;
  width: 225px;
  padding-left: 15px;
  color: #ed3f53;
  font-size: 1.6rem;
  font-weight: bold;
}

.wpcf7 dt::before {
  content:' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 16px;
  border-radius: 5px;
  background: #ed3f53;
}

.wpcf7 dd {
  display: inline-block;
  width: 530px;
}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea
.wpcf7 select {
  width: 530px;
  padding: 10px;
  background: #f5f5f5;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
  color: #333;
}



@media screen and (max-width: 1004px){

  /*Basement*/
  .blog__header,
  .blog__wrapper {
    width: 100%;
    margin-left:auto;
    margin-right: auto;
    padding: 0 8%;
  }

  .blog__thumbnail img{
    width: 100%;
  }


  /*Header*/
  .blog__site-title {
    font-size: 8.0vmin;
  }

}
